<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>

    <style>

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

    </style>
</head>
<body>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<a href="/docs">/docs#</a>
<div>

    <div class="task">
        <table id="customers">
            <thead>
            <tr>
                <th>SRA_list</th>
                <th>alignement</th>
                <th>NJ_tree</th>
                <th>ML_tree</th>
                <th>ncbi size</th>
            </tr>
            </thead>

                <tr>
                    <td>
                        <a href="/download_sra/{{ id}}">{{ id}}</a>
                    </td>
                    <td>
                        {% if  fasta %}
                            <a href="/download_fasta/{{ id }}">download</a>
                        {% else %}

                            <form action="{{ '/mtbc_fasta_align_from_json/' + id  }}" method="get" target="dummyframe" onsubmit='disableButton()' onended="location.reload()">
                                <button id='btn'>run align</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        {% if nj %}
                            <a href="/download_nj_tree/{{ id }}">download</a>
                        {% else %}
                            <form action="/mtbc_nj_tree_from_db/{{ id }}" method="get" target="dummyframe" onsubmit='disableButton()'  onended="location.reload()">
                                <button id='btn'>run nj tree</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        {% if ml %}
                            <a href="/download_ml_tree/{{ id }}">download</a>
                        {% else %}
                            <form action="/mtbc_ml_tree_from_db/{{ id }}" method="get" target="dummyframe" onsubmit='disableButton()'  onended="location.reload()">
                                <button id='btn'>run ml tree</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <a>{{ final_length }}</a>
                    </td>
                </tr>

        </table>
    </div>

</div>

</body>
<script>
    function disableButton() {
        var btn = document.getElementById('btn');
        btn.disabled = true;
        btn.innerText = 'Posting...'
    }
</script>
</html>