<div>Hello World</div>
    <div>

            <div class="task">
                <table>
                    <thead>
                    <tr>
                        <th>alignement</th>
                        <th>NJ_tree</th>
                        <th>ncbi size</th>
                    </tr>
                    </thead>
                {% for todo in fasta if 'alignement' not in todo %}
                    <tr>
                    <td>
                    <a href="/download_fasta?fasta={{ todo }}">{{ todo }}</a>
                    </td>
                    <td>
                    {%  if todo in nj_tree %}
                    <a href="/download_nj_tree?fasta={{ todo }}">{{ todo }}</a>
                    {% endif %}
                    </td>
                    <td>
                        {%  size = todo.split("_")[0] %}
                        <a>{{ size }}</a>
                    </td>
                    </tr>
                {% endfor %}
                </table>
            </div>

    </div>

