<div>Hello World</div>
    <div>
        {% for todo in fasta %}
            <div class="task">
                <small>
                    <a href="/download_nj_tree?fasta={{ todo }}">{{ todo }}</a>
                </small>
            </div>
        {% endfor %}
    </div>

    <div>
        {% for todo in nj_tree %}
            <div class="task">
                <small>
                    <a href="/download_fasta?fasta={{ todo }}">{{ todo }}</a>
                </small>
            </div>
        {% endfor %}
    </div>