    <div>
        {% for todo in fasta %}
            <div class="task">
                <small>
                    <a href="/download_nj_tree?fasta={{ todo }}">{{ todo }}</a>
                </small>
            </div>
        {% endfor %}
    </div>
